<% if @game.check_win_or_lose == :win && @game.word != ""%>
	<h1>You Win!</h1>
	<p>
	  The word was
	  <span class="win"><%= @game.word %></span>.
	</p>
<% else %>
	<p> Hey, no cheating! </p>
<% end %>

<%= erb :new %>
